<img src=health-fitness-image.jpg>

#### According according to the World Health Organization (WHO), health is "the level of functional or metabolic efficiency of a living organism". While fitness is referred to "a state of health and well-being of the body".

#### Health and Fitness Relationship is a data analysis project with a focus on comparing and contrasting fitness activity to select health indicators. Activity measurement originated from fitness trackers, a sports logging app and manual data entry from participants.

In [1]:
#Import programs needed for project
import numpy as np
import pandas as pd
#Read in health data from Kim Wolf's iWatch and iPhone export for time period November 1, 2019 - September 30, 2022 and create kw_data dataframe.
#Display the first 5 rows of data.
kw_data = pd.read_csv("Export_KW_HealthDataDays_2019-11-01_2022-09-30.csv")
kw_data.head()

,Date,Active energy burned(Cal),Apple Watch stand hours(hr),Basal energy burned(Cal),Distance walking / running(mi),Exercise time(min),Flights climbed(count),Heart rate(count/min),Resting heart rate(count/min),Stand time(min),Step count(count),Walking heart rate average(count/min)
0,2019-11-01,NaN,NaN,NaN,1.911,NaN,NaN,NaN,NaN,NaN,5940.0,NaN
1,2019-11-02,NaN,NaN,NaN,0.985,NaN,NaN,NaN,NaN,NaN,2909.0,NaN
2,2019-11-03,NaN,NaN,NaN,0.718,NaN,NaN,NaN,NaN,NaN,2151.0,NaN
3,2019-11-04,NaN,NaN,NaN,0.634,NaN,1.0,NaN,NaN,NaN,1783.0,NaN
4,2019-11-05,NaN,NaN,NaN,1.426,NaN,3.0,NaN,NaN,NaN,4153.0,NaN

In [ ]:
#Identify data classes in kw_data dataframe
kw_data.dtypes

Date                                      object
Active energy burned(Cal)                float64
Apple Watch stand hours(hr)              float64
Basal energy burned(Cal)                 float64
Distance walking / running(mi)           float64
Exercise time(min)                       float64
Flights climbed(count)                   float64
Heart rate(count/min)                    float64
Resting heart rate(count/min)            float64
Stand time(min)                          float64
Step count(count)                        float64
Walking heart rate average(count/min)    float64
dtype: object

In [3]:
#Create new dataframe of select health and activity data. Including heart rate, resting heart rate and step count from kw_data and create new dataframe.
#Display the first 5 rows of data in the newly created dataframe kw_data2.
kw_data2 = kw_data[['Date', 'Heart rate(count/min)', 'Resting heart rate(count/min)', 'Step count(count)']].copy()
kw_data2.head()

,Date,Heart rate(count/min),Resting heart rate(count/min),Step count(count)
0,2019-11-01,NaN,NaN,5940.0
1,2019-11-02,NaN,NaN,2909.0
2,2019-11-03,NaN,NaN,2151.0
3,2019-11-04,NaN,NaN,1783.0
4,2019-11-05,NaN,NaN,4153.0

In [ ]:
#Display data from kw_data2.
print(kw_data2)

            Date  Heart rate(count/min)  Resting heart rate(count/min)  \
0     2019-11-01                    NaN                            NaN
1     2019-11-02                    NaN                            NaN
2     2019-11-03                    NaN                            NaN
3     2019-11-04                    NaN                            NaN
4     2019-11-05                    NaN                            NaN
...          ...                    ...                            ...
1060  2022-09-26                 87.555                           56.0
1061  2022-09-27                 77.676                           53.0
1062  2022-09-28                 77.643                           49.0
1063  2022-09-29                 74.585                           60.0
1064  2022-09-30                 64.816                           53.0

      Step count(count)
0                5940.0
1                2909.0
2                2151.0
3                1783.0
4                4153.0
...                 ...
1060            14289.0
1061            10460.0
1062            11064.0
1063             8909.0
1064             5916.0

[1065 rows x 4 columns]

In [6]:
##Need to import matplotlib so I can create some charts - or figure out how to create a dashboard using Tableau

In [7]:
#Read in heart rate data from a data set of multiple participants for the time period November 1, 2019 - unknown.
##This code currently reads information of only one participant. Need to figure out how to read in data from multiple participants.
#Display the first 5 rows of data.
p01_heart_rate = pd.read_json("osfstorage-archive/pmdata/p01/fitbit/heart_rate.json" )
p01_heart_rate.head()

             dateTime                         value
0 2019-11-01 00:00:05  {'bpm': 54, 'confidence': 3}
1 2019-11-01 00:00:10  {'bpm': 52, 'confidence': 3}
2 2019-11-01 00:00:20  {'bpm': 51, 'confidence': 3}
3 2019-11-01 00:00:25  {'bpm': 52, 'confidence': 3}
4 2019-11-01 00:00:30  {'bpm': 51, 'confidence': 3}

In [ ]:
#Display data from p01_heart_rate to determine ending time period.
print(p01_heart_rate)

                   dateTime                         value
0       2019-11-01 00:00:05  {'bpm': 54, 'confidence': 3}
1       2019-11-01 00:00:10  {'bpm': 52, 'confidence': 3}
2       2019-11-01 00:00:20  {'bpm': 51, 'confidence': 3}
3       2019-11-01 00:00:25  {'bpm': 52, 'confidence': 3}
4       2019-11-01 00:00:30  {'bpm': 51, 'confidence': 3}
...                     ...                           ...
1573160 2020-03-31 23:59:18  {'bpm': 55, 'confidence': 3}
1573161 2020-03-31 23:59:23  {'bpm': 54, 'confidence': 3}
1573162 2020-03-31 23:59:33  {'bpm': 56, 'confidence': 3}
1573163 2020-03-31 23:59:48  {'bpm': 56, 'confidence': 3}
1573164 2020-03-31 23:59:58  {'bpm': 55, 'confidence': 3}

[1573165 rows x 2 columns]

In [ ]:
# Write a query in Pandas to rename select column name
p01_heart_rate.rename(columns = {'value':'HeartRate'}, inplace = True)
# View dataframe to confirm column name change
print(p01_heart_rate)

                   dateTime                     HeartRate
0       2019-11-01 00:00:05  {'bpm': 54, 'confidence': 3}
1       2019-11-01 00:00:10  {'bpm': 52, 'confidence': 3}
2       2019-11-01 00:00:20  {'bpm': 51, 'confidence': 3}
3       2019-11-01 00:00:25  {'bpm': 52, 'confidence': 3}
4       2019-11-01 00:00:30  {'bpm': 51, 'confidence': 3}
...                     ...                           ...
1573160 2020-03-31 23:59:18  {'bpm': 55, 'confidence': 3}
1573161 2020-03-31 23:59:23  {'bpm': 54, 'confidence': 3}
1573162 2020-03-31 23:59:33  {'bpm': 56, 'confidence': 3}
1573163 2020-03-31 23:59:48  {'bpm': 56, 'confidence': 3}
1573164 2020-03-31 23:59:58  {'bpm': 55, 'confidence': 3}

[1573165 rows x 2 columns]

In [ ]:
#Read in resting heart rate data from Kaggle data set of multiple participants for the time period November 1, 2019 - unknown.
#Display the first 5 rows of data.
p01_resting_heart_rate = pd.read_json("osfstorage-archive/pmdata/p01/fitbit/resting_heart_rate.json")
p01_resting_heart_rate.head()

    dateTime                                              value
0 2019-11-01  {'date': '11/01/19', 'value': 53.7410736083984...
1 2019-11-02  {'date': '11/02/19', 'value': 52.8814973831176...
2 2019-11-03  {'date': '11/03/19', 'value': 53.2220239639282...
3 2019-11-04  {'date': '11/04/19', 'value': 54.3111410140991...
4 2019-11-05  {'date': '11/05/19', 'value': 52.2591104507446...

In [ ]:
#Display data from p01_resting_heart_rate to determine ending time period.
print(p01_resting_heart_rate)

      dateTime                                              value
0   2019-11-01  {'date': '11/01/19', 'value': 53.7410736083984...
1   2019-11-02  {'date': '11/02/19', 'value': 52.8814973831176...
2   2019-11-03  {'date': '11/03/19', 'value': 53.2220239639282...
3   2019-11-04  {'date': '11/04/19', 'value': 54.3111410140991...
4   2019-11-05  {'date': '11/05/19', 'value': 52.2591104507446...
..         ...                                                ...
147 2020-03-27  {'date': '03/27/20', 'value': 50.2325077056884...
148 2020-03-28  {'date': '03/28/20', 'value': 51.1251735687255...
149 2020-03-29  {'date': '03/29/20', 'value': 53.0705003738403...
150 2020-03-30  {'date': '03/30/20', 'value': 52.1750831604003...
151 2020-03-31  {'date': '03/31/20', 'value': 52.5566682815551...

[152 rows x 2 columns]

In [ ]:
# Write a query in Pandas to rename select column name
p01_resting_heart_rate.rename(columns = {'value':'RestingHeartRate'}, inplace = True)
# View dataframe to confirm column name change
print(p01_resting_heart_rate)

      dateTime                                   RestingHeartRate
0   2019-11-01  {'date': '11/01/19', 'value': 53.7410736083984...
1   2019-11-02  {'date': '11/02/19', 'value': 52.8814973831176...
2   2019-11-03  {'date': '11/03/19', 'value': 53.2220239639282...
3   2019-11-04  {'date': '11/04/19', 'value': 54.3111410140991...
4   2019-11-05  {'date': '11/05/19', 'value': 52.2591104507446...
..         ...                                                ...
147 2020-03-27  {'date': '03/27/20', 'value': 50.2325077056884...
148 2020-03-28  {'date': '03/28/20', 'value': 51.1251735687255...
149 2020-03-29  {'date': '03/29/20', 'value': 53.0705003738403...
150 2020-03-30  {'date': '03/30/20', 'value': 52.1750831604003...
151 2020-03-31  {'date': '03/31/20', 'value': 52.5566682815551...

[152 rows x 2 columns]

In [ ]:
#Read in steps data from Kaggle data set of multiple participants for the time period November 1, 2019 - unknown.
#Display the first 5 rows of data.
p01_steps = pd.read_json("osfstorage-archive/pmdata/p01/fitbit/steps.json")
p01_steps.head()

             dateTime  value
0 2019-11-01 00:00:00      0
1 2019-11-01 00:01:00      0
2 2019-11-01 00:02:00      0
3 2019-11-01 00:03:00      0
4 2019-11-01 00:04:00      0

In [ ]:
#Display data from p01_steps to determine ending time period.
print(p01_steps)

                  dateTime  value
0      2019-11-01 00:00:00      0
1      2019-11-01 00:01:00      0
2      2019-11-01 00:02:00      0
3      2019-11-01 00:03:00      0
4      2019-11-01 00:04:00      0
...                    ...    ...
218831 2020-03-31 23:55:00      0
218832 2020-03-31 23:56:00      0
218833 2020-03-31 23:57:00      0
218834 2020-03-31 23:58:00      0
218835 2020-03-31 23:59:00      0

[218836 rows x 2 columns]

In [ ]:
# Write a query in Pandas to rename select column name
p01_steps.rename(columns = {'value':'Steps'}, inplace = True)
# View dataframe to confirm column name change
print(p01_steps)

                  dateTime  Steps
0      2019-11-01 00:00:00      0
1      2019-11-01 00:01:00      0
2      2019-11-01 00:02:00      0
3      2019-11-01 00:03:00      0
4      2019-11-01 00:04:00      0
...                    ...    ...
218831 2020-03-31 23:55:00      0
218832 2020-03-31 23:56:00      0
218833 2020-03-31 23:57:00      0
218834 2020-03-31 23:58:00      0
218835 2020-03-31 23:59:00      0

[218836 rows x 2 columns]

In [ ]:
#Create a new dataframe of participant (p01) data for the time period November 1, 2019 - March 31, 2021.
#New dataframe includes heart rate, resting heart rate and steps.
#Display dataframe.